.login-background {
    background-image: url(./apt.jpg);
    height:stretch;
    
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}

h1   {
    display: top;
    
    font-size: 100px; 
    color: darkorange;
    text-shadow: 1.5px 1.5px 1.5px white;
    font-style: italic; 
    left: 0;
    top: 300px;
    margin-top: 50px;
    width: 100%;   
    font-family: 'Rock Salt', cursive;
    
 }